/CalculadoraWebService/nbproject/private/
/CalculadoraWebServicies/target/
/CalculadoraWeb/nbproject/private/
/CalculadoraWeb/build/
/CalculadoraServicioWeb/nbproject/private/
/CalculadoraWeb/dist/
/CalculadoraServicioWeb/build/
/AAT1_JavaWeb/nbproject/private/
/AAT1_JavaWeb/build/
/AAT1_JavaWeb/dist/
